<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="LogColumns" type="LogExplorer.LogColumnsConfigSection, LogExplorer"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="mainSeparator" value=";" />
    <add key="propSepatator" value="" />
  </appSettings>
  
  <LogColumns>
    <Columns>
      <add columnName="StringColumn_1" paramString="name,Имя,3" />
      <add columnName="StringColumn_2" paramString="date,Дата,1" />
      <add columnName="StringColumn_3" paramString="other,Остальное,2" />
    </Columns>
  </LogColumns>

</configuration>